[Desktop Entry]
Name=Oxide
Comment=Blazing fast Modding tool for Linux
Exec=oxidemanager
Icon=dev.invrs.oxide
Type=Application
Categories=Game;Utility;
Terminal=false
StartupNotify=true
Keywords=modding;mods;games;manager;oxide;

